<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://winepronecowboy.com{{ page.url }}&t={{ page.title }}" title="Share on Facebook" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http://winepronecowboy.com{{ page.url }}&text={{ page.title }}" target="_blank" title="Tweet"><i class="fa fa-twitter-square"></i></a></li>
  <li><a href="https://plus.google.com/share?url=http://winepronecowboy.com{{ page.url }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square"></i></a></li>
  <li><a href="http://www.tumblr.com/share?v=3&u=http://winepronecowboy.com{{ page.url }}&t={{ page.title }}=" target="_blank" title="Post to Tumblr"><i class="fa fa-tumblr-square"></i></a></li>
  <li><a href="http://pinterest.com/pin/create/button/?url=http://winepronecowboy.com{{ page.url }}&description={{ page.title }}" target="_blank" title="Pin it"><i class="fa fa-pinterest-square"></i></a></li>
  <li><a href="http://www.reddit.com/submit?url=http://winepronecowboy.com{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit-square"></i></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://winepronecowboy.com{{ page.url }}&summary={{ page.title }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
</ul>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">
